
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
body{
    background-color:#2c3e50 ;
}

#contenedor-lista::-webkit-scrollbar {
    width: 8px;
    background-color: #888fa8;
    border-radius: 20px;
   
  }

  #contenedor-lista::-webkit-scrollbar-thumb  {
    background-color: crimson;
    border-radius: 6px;
  }


#contenedor-lista{
    width: 350px;
    height: 450px;
    overflow: auto;
    background-color: #263342;
    border-color: #263342;
    border-radius: 2%; 
}

#contenedor{
    background-color:#2c3e50 ;
}

#ol-group{
    background-color:transparent;
}

ol li{
    background-color:transparent ;
}

li{
    background-color:transparent ;
    color: #101011;
}

ol li:hover {
    background-color: crimson;
    color: aliceblue;
    cursor: pointer;
}


.botonera{
    cursor: pointer;
}

ol li::marker:hover {
    background-color: crimson;
    color: aliceblue;
    cursor: pointer;
}